@{
    ViewData["Title"] = "Experience";
}

<div class="container mt-5 p-4 rounded shadow-lg glassmorph">
    <h2 class="fw-bold text-center mb-4">EXPERIENCE</h2>
    <p class="lead text-center mb-5">Here is a summary of my internship experiences that has shaped my journey.</p>

    <div class="timeline">

        <!-- Experience 1 -->
        <div class="timeline-item mb-5">
            <h5 class="fw-bold">.NET Framework Intern</h5>
            <b><p class="mb-1 text-muted">
                Opteamix Technology Solutions LLP — Feb 2025 to June 2025
                </p>
            </b>
            <p>Gained hands-on experience with the .NET ecosystem, learning C# fundamentals and applying OOP principles. Implemented software design patterns using SOLID principles, Dependency Injection, Clean Architecture, and 3-Tier Architecture. Worked with data access tools like ADO.NET and Entity Framework Core (Code-First & Database-First). Developed RESTful APIs using .NET Core and explored ASP.NET MVC through building and debugging proof of concepts (POCs)..</p>
        </div>

        <!-- Experience 2 -->
        <div class="timeline-item mb-5">
            <h5 class="fw-bold">Content Research Intern</h5>
            <b><p class="mb-1 text-muted">The Business Sentinel - Nov 2023 to Jan 2024</p></b>
            <p>Collaborated with the team to create engaging research based content, tailored to target the audience</p>
        </div>
        <!-- Add more experiences as needed -->

    </div>
</div>
