<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PortfolioApplication</title>

    <!-- Bootstrap and CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PortfolioApplication.styles.css" asp-append-version="true" />

   @*  <!-- Video Background -->
    <video autoplay muted loop class="video-background">
        <source src="~/videos/video.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="video-overlay"></div> *@

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!-- Brand logo/button that routes to Home/Index -->
                <b>  <a class="nav-link text-dark" asp-area="" asp-controller="Portfolio" asp-action="Indexs">HOME</a></b>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <b> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Education">EDUCATION</a></b>
                        </li>
                        <li class="nav-item">
                            <b> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">SKILLS</a></b>
                        </li>
                        <li class="nav-item">
                            <b> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">PROJECTS</a></b>
                        </li>
                         <li class="nav-item">
                            <b> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Experience">EXPERIENCE</a></b>
                        </li
                        <li class="nav-item">
                            <b> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Certificates">CERTIFICATIONS</a></b>
                        </li>
                        <li class="nav-item">
                            <b> <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">CONTACT</a> </b>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   
    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
